.container {
  width: fit-content;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: white;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
