.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 0.75rem;
}

@media (max-width: 767px) {
  .nav {
    padding: 1rem 1rem 1rem 1.5rem;
  }
}

.button-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}