
.upload {
  background-color: #FAFAFA;
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;

}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}