.main {
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

@media(max-width: 375px) {
  .main {
    width: 100%;
    height: 100%;
    background-color: white;
    gap: 0;
    overflow: hidden;
  }
}