$BLUE-DEFAULT: #633CFF;

$BLUE-ACTIVE: #BEADFF;

$BLUE-DISABLED: #EFEBFF;

$BLACK: #333333;

$GREY-DEFAULT: #737373;

$GREY-LIGHT: #D9D9D9;

$WHITE-DEFAULT: #FAFAFA;

$WHITE-LIGHT: #FFFFFF;

$RED-DEFAULT: #FF3939;

