@import "src/styles/root";

.empty {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1.25rem;
  align-items: center;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;

  .text-field {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    gap: 1.5rem;

    h2 {
      text-align: center;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      color: $BLACK;
    }

    p {
      text-align: center;
      width: 30.5rem;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: $GREY-DEFAULT;
    }
  }
}