.list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-self: center;

  height: 13rem;
  overflow: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 378px) {
  .list {
    width: fit-content;
    height: 100%;
    border: none;
    padding: 1rem;
    box-sizing: border-box;
    overflow: visible;
  }
}
