.btn {
  padding: 0.7rem 1.7rem;
  border-radius: 0.5rem;
  background-color: #633CFF;

  color: white;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border: 1px solid #633CFF;
}

.btn:hover {
  cursor: pointer;
  background-color: #BEADFF;
  box-shadow: 0 0 32px 0 rgba(99, 60, 255, 0.25);
  border: 1px solid #BEADFF;
}